body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  background-color: hsla(0, 10%, 80%, 1);
  color: hsla(0, 10%, 35%, 1);
  height: 100vh;
  display: grid;
  place-content: center;
  font-family: system-ui, "Helvetica Neue", Helvetica, sans-serif;
}

.c-counter {
  border-radius: 4px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 8px 11px rgba(145, 120, 120, 0.4);
  background: hsla(0, 10%, 92%, 1);
  box-sizing: border-box;
  border: 4px solid hsla(0, 10%, 48%, 1);
  border-radius: 7px;
}

.c-counter__count {
  font-size: 1.5rem;
  color: hsla(0, 10%, 45%, 1)
}

.c-button {
  background-color: hsla(0, 10%, 52%, 1);
  border: none;
  font-size: 1.75rem;
  font-weight: bold;
  transition: background 0.13s ease-in;
  display: inline-flex;
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
  padding: 0;
  outline: 0;
  cursor: pointer;
  color: #fff;
}

.c-button:hover:nth-child(1) {
  background-color: hsl(4, 90%, 60%);
}

.c-button:hover:nth-child(3) {
  background-color: hsl(97, 100%, 39%);
}

.c-button:active {
  font-size: 1.53rem;
}
